@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Montserrat;
    background-color: #111111;
    
}
.container{
    color: #ffffff;
}

/* navbar */


.hero-1{
    width: 80%;
    float: left;
    padding: 30px 150px;
  }
  .hero-1 .nav .logo{
    float: left;
  }
  .hero-1 .nav .logo img{
    width: 100px;
    float: left;
  }
  .hero-1 .nav .grow-list{
    float: left;
  }
  .hero-1 .nav .grow-list .list{
    list-style-type: none;
    display: flex;
    margin-left: 400px;
  }
  .hero-1 .nav .grow-list .list li{
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
  }
  .hero-1 .nav .grow-list .list .list-item i{
    color: #ffffff;
    margin-left: 10px;
    margin-right: 20px;
  }


  .hero-1 .down{
    float: left;
    width: 80%;
    padding-top: 50px;
  }
  .hero-1 .down .left{
    float: left;
    width: 50%;
  }
  .hero-1 .down .left img{
    float: left;
    width: 90%;
    height: 550px;
  }

  .hero-1 .down .right{
    padding-top: 130px;
  }
  .hero-1 .down .right h3{
    color: #c91b28;
  }
  .hero-1 .down .right h1{
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
  }
  .hero-1 .down .right p{
    font-weight: 100;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
  }
  .hero-1 .down .right button{
    font-weight: 100;
    font-size: 15px;
    margin-top: 20px;
    padding: 15px 27px;
    border: none;
    background-color: #c91b28;
    color: #ffffff;
  }


  /* hero-2 */
  .hero-2{
    border: none;
    width: 770px;
    height: 730px;
    background-color: #181818;
    position: absolute;
    top: 93%;
    z-index: -1;

  }
  


  /* hero-3 */

  .hero-3{
    width: 70%;
    float: left;
    padding: 30px 150px;
  }
  .hero-3 .up{
    width: 100%;
    float: left;
    padding-left: 170px;
  }
  .hero-3 .up .card{
    width: 17%;
    height: 270px;
    margin: 0px 10px;
    padding: 10px 50px;
    float: left;
    background-color: #1e1e1e;
  }
  .hero-3 .up .card img{
    width: 40px;
  }
  .hero-3 .up .card .imag{
    padding: 25px 10px;
  }
  .hero-3 .up .card a{
    text-decoration: none;
    color: #c91b28;
  }
  .hero-3 .up .card i{
    color: #c91b28;
  }
  .hero-3 .up .active a{
    color: #ffffff;
  }
  .hero-3 .up .active h3{
    color: #ffffff;
  }
  .hero-3 .up .active i{
    color: #ffffff;
  }
  .hero-3 .up .active{
    background-color: #c91b28;
  }
  .hero-3 .up .card p{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .hero-3 .down {
    width: 100%;
    float: left;
    padding-left: 170px;
    margin-top: 70px;
  }
  .hero-3 .down .card h1,h3{
    color: #c91b28;
  }
  .hero-3 .down .card{
    text-align: center;
  }
  .hero-3 .down .card h1{
    padding-top: 30px;
    font-weight: bolder;
    font-size: 80px;
  }
  .hero-3 .down .card h3{
    font-weight: bolder;
    font-size: 50px;
  }
  .hero-3 .down .card .up-1,.bottom{
    width: 17%;
    height: 100px;
    margin: 0px 10px;
    padding: 10px 50px;
    float: left;
    background-color: #1e1e1e;
  }
  .hero-3 .down .card .up-1,.bottom{
    margin-bottom: 20px;
  }
  .hero-3 .down .card:nth-child(1){
    width: 17%;
    height: 250px;
    margin: 0px 10px;
    padding: 10px 50px;
    float: left;
    background-color: transparent;
  }



  /* hero-4 */

  .hero-4{
    width: 70%;
    float: left;
    padding: 30px 150px;
  }
  .hero-4 .up{
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
  }
  .hero-4 .up .left{
    float: left;
    width: 70%;
  }
  .hero-4 .up .left h2{
    font-weight: bold;
    font-size: 37px;
  }

  .hero-4 .up .right button{
    font-weight: 400;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-left: 155px;
    border: none;
    color: #ffffff;
    background-color: #c91b28;
  }

  .hero-4 .down .cards{
    width: 46%;
    margin: 0px 10px;
    padding: 10px 10px;
    float: left;
    /* background-color: #1e1e1e; */
  }
  .hero-4 .down .card{
    background-color: #1e1e1e;
    padding: 50px 30px;
  }
  .hero-4 .down .card img{
    width: 100%;
    height: 250px;
  }
  .hero-4 .down .cards h3{
    color: #ffffff;
    padding-top: 15px;
  }
  .hero-4 .down .cards a{
    color: #c91b28;
    text-decoration: none;
  }


  /* hero-5 */
  .hero-5{
    width: 70%;
    float: left;
    padding: 30px 150px;
  }
  .hero-5 .cont{
    background-color: #1e1e1e;
    padding: 60px 50px;
    height: 180px;
  }
  .hero-5 .cont .left{
    width: 64%;
    float: left;
  }
  .hero-5 .cont .right{
    width: 20%;
    float: left;
  }
  .hero-5 .cont .right button{
    padding: 10px 30px;
    color: #ffffff;
    border: none;
    margin-top: 70px;
    margin-left: 130px;
    background-color: #c91b28;
  }
  .hero-5 .cont .left h1{
    font-weight: bold;
    font-size: 50px;
  }
  .hero-5 .cont .left p{
    font-weight: 100;
    font-size: 15px;
    padding-top: 20px;
  }
  .hero-5 .list-d{
    padding: 20px 50px;
    margin-top: 30px;
  }
  .hero-5 .list-d .lit{
    list-style-type: none;
    margin-left: 350px;
  }
  .hero-5 .list-d .lit li{
    float: left;
    padding: 5px 20px;
    font-weight: 100;
    font-size: 13px;
    color: #ffffff;
  }

  /* hero-6 */

  .hero-6{
    width: 100%;
    float: left;
    background-color: #1e1e1e;
  }
  .hero-6 .logo{
    width: 43%;
    float: left;
  }
  .hero-6 .logo img{
    width: 80px;
    padding: 30px;
    float: left;
    margin-left: 130px;
  }
  .hero-6 .navv{

    padding-top: 35px;

  }
  .hero-6 .navv a{
    color: #ffffff;
    padding: 15px;
  }